/* Import Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Montserrat:wght@500;700&display=swap");

/* Global Styles */
body {
  font-family: "Montserrat", sans-serif !important;
  background-color: #5e766c !important;
  margin: 0;
  padding: 0;
}

.info-div{
  background-color: #cdcfcd !important;
  max-width: 100% !important;
  padding: 100px !important;
}

.card-title{
  color: #5e766c !important;
}

.custom-border {
  border-left: 4px solid #5e766c;
}

.btn-outline {
  color: #5e766c !important;
  border-color: #5e766c !important;
}

.btn-custom {
  background-color: #fff !important;
  color: black;
  transition: background-color 0.3s ease, color 0.3s ease;
  font-size: 10px;
}

.btn-custom:hover, .btn-login:hover {
  color: #000 !important;
  background-color: #cdcfcd !important;
}

.btn-login {
  padding: 0 10px !important;
  background-color: #fff !important;
  color: black !important;
  transition: background-color 0.3s ease, color 0.3s ease;
}
