@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Montserrat:wght@500;700&display=swap");

html,
body {
  font-family: "Montserrat" !important;
  height: 100%;
  margin: 0;
  padding: 1rem;
  background-color: #cdcfcd !important;
}

.form-signin {
  max-width: 500px;
  padding: 2rem;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

#firstName {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

#lastName, #email {
  border-radius: 0;
}

#password {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

#passwordToggleBtn {
  border: none;
  background: transparent;
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  cursor: pointer;
}

.btn {
  background-color: #6a8b76 !important;
}
