.btn {
  background-color: #293134 !important;
  color: white !important;
}

.btn-danger {
  background-color: #dc3545 !important; 
}

.transaction-history {
  max-height: 300px;
  overflow-y: auto;
}
