@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Montserrat:wght@500;700&display=swap");

html,
body {
  font-family: "Montserrat" !important;
  height: 100%;
  margin: 0;
  background-color: #cdcfcd !important;
}

.sidebar {
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #161c21;
  color: #fff;
  padding: 1rem;
  width: 280px;
}

.title {
  margin-bottom: 0 !important;
}

.content {
  margin-left: 280px;
  padding: 1rem;
}
