@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Montserrat:wght@500;700&display=swap");

html,
body {
  font-family: "Montserrat" !important;
  height: 100%;
  margin: 0;
  background-color: #cdcfcd !important;
}

.sidebar {
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #161c21;
  color: #fff;
  padding: 1rem;
  width: 250px;
}

.active {
    background-color: #5e766c !important;
  }

.settings {
  padding-left: 5px;
}

.title {
  margin-bottom: 0 !important;
}

.content {
  margin-left: 250px;
  padding: 1rem;
}

@media (max-width: 1000px) {
  .sidebar {
    width: 60px;
  }

  .sidebar .d-flex {
    justify-content: center;
  }

  .logo {
    width: 40px;
    height: 40px;
  }

  .title {
    display: none;
  }

  .nav .nav-link {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
  }

  .icon {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .description {
    display: none !important;
  }

  .settings {
    display: none !important;
  }

  .content {
    margin-left: 60px;
  }
}
